<header>
  <figure>
      <img src="assets/images/weo3-logo.png" />
  </figure>
  <h1>{{sectionHeader}}</h1>
</header>

  <nav>
    <button md-button routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true }">
      <mat-icon>collections</mat-icon>
      <div class="caption">curiosity</div>
    </button>
    <button md-button routerLink="/log" routerLinkActive="active">
      <mat-icon>collections</mat-icon>
      <div class="caption">opportunity</div>
    </button>
    <button md-button routerLink="/entry-listing" routerLinkActive="active">
      <mat-icon>collections</mat-icon>
      <div class="caption">seeker</div>
    </button>
  </nav>


<router-outlet></router-outlet>
